@model LTTTBaiTapLon671.Models.Admin

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Tên Admin
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdminName)
        </dd>
        <dt>
           Tên Trạm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tram)
        </dd>
        <dt>
            Mực Nước
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mucnuoc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AdminID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
