@model IEnumerable<LTTTBaiTapLon671.Models.Admin>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quản trị viên</h2>

<p>
    @Html.ActionLink("Thêm Mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên Admin
        </th>
        <th>
            Tên Trạm
        </th>
        <th>
           Mực Nước
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdminName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tram)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mucnuoc)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.AdminID }) |
            @Html.ActionLink("Chi Tiết", "Details", new { id=item.AdminID }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.AdminID })
        </td>
    </tr>
}

</table>
