@model IEnumerable<LTTTBaiTapLon671.Models.Manager>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý tk user</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên Quản Lý
        </th>
        <th>
           Mực Nước
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ManagerName)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.Mucnuoc)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.ManagerID }) |
            @Html.ActionLink("Thông Tin", "Details", new { id=item.ManagerID }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.ManagerID })
        </td>
    </tr>
}

</table>
